.extension {
  width: 1000px;
  display: flex;
}

.extension__lists {
  list-style-type: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 350px);
  gap: 10px;
  justify-content: center;
  margin: 50px auto 0;
  padding: 0;
}
.extension__description {
  display: flex;
  width: 300px;
  align-items: start;
}
.extension__description-text {
  margin-left: 15px;
}
.extension__title {
  font-size: 20px;
  margin: 0;
}

.extension__paragraph {
  font-size: 16px;
  color: hsl(0, 0%, 78%);
  margin-top: 10px;
  margin-bottom: 0;
}

.extension__list {
  background-color: hsl(225, 23%, 24%);
  border: 1px solid hsl(226, 11%, 37%);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.extension__command {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.extension__toggle {
  background-color: brown;
  width: 50px;
  height: 25px;
  border-radius: 200px;
}

.extension__button {
  border-radius: 50px;
  padding: 8px;
  border: 1px solid hsl(226, 11%, 37%);
  background-color: hsl(225, 23%, 24%);
  color: hsl(0, 0%, 93%);
  cursor: pointer;
}

.extension__button:hover{
  background-color: hsl(3, 77%, 44%);
  color: hsl(225, 23%, 24%);
  font-weight: 600;
}
