.header{
    margin-top: 45px;
    max-width: 1024px;
    min-width: 340px;
    background-color: hsl(225, 23%, 24%);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.header__icon-sun{
    background-color: hsl(226, 11%, 37%);
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}