.header{
    margin-top: 20px;
    background-color: var(--bg-container);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.header__icon-sun{
    background-color:var(--theme) ;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}