.page {
    max-width: 1440px;
    min-width: 375px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: auto;
   margin: 0 auto;
   overflow-x:hidden ;
}

/* .att { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); } */